In [1]:
import pandas as pd
import os
import re

### Criar lista de arquivos e dicionário

In [2]:
arquivos = os.listdir("./dados_2002_21/")
estados = {}
print(arquivos)

['Tabela1.xls', 'Tabela10.xls', 'Tabela11.xls', 'Tabela12.xls', 'Tabela13.xls', 'Tabela14.xls', 'Tabela15.xls', 'Tabela16.xls', 'Tabela17.xls', 'Tabela18.xls', 'Tabela19.xls', 'Tabela2.xls', 'Tabela20.xls', 'Tabela21.xls', 'Tabela22_RJ.xls', 'Tabela23_SP.xls', 'Tabela24.xls', 'Tabela25.xls', 'Tabela26.xls', 'Tabela27.xls', 'Tabela28.xls', 'Tabela29.xls', 'Tabela3.xls', 'Tabela30.xls', 'Tabela31.xls', 'Tabela32.xls', 'Tabela33_BR.xls', 'Tabela4.xls', 'Tabela5.xls', 'Tabela6.xls', 'Tabela7.xls', 'Tabela8.xls', 'Tabela9.xls']

In [5]:
def extair_dados(arquivo, celula):
    number = re.findall(r'\d+', arquivo)
    df = pd.read_excel("./dados_2002_21/" + arquivo, sheet_name='Tabela' + number[0] + '.' + str(celula))
    df = df.loc[53:len(df)-2]
    categoria = df.iloc[2,0]
    local = df.iloc[1,0]
    dados_anuais = pd.DataFrame()
    dados_anuais[['Ano','Valor_ano_anterior','Valor_preço_anterior','Valor_corrente']] = df.iloc[4:,[0,1,3,5]]
    dados_anuais[['Categoria','Local']] = categoria,local
    #criar funções para tratar colunas novas
    return dados_anuais, local, categoria

for i in arquivos:
    #falta loopar pelas celulas
    for celula in range(0,15):
        dados_anuais, local, categoria = extair_dados(i, celula)
        estados[local] = {categoria:dados_anuais}

TypeError: type 'range' is not subscriptable

In [4]:
estados['São Paulo']['Total das Atividades']

,Ano,Valor_ano_anterior,Valor_preço_anterior,Valor_corrente,Categoria,Local
57,2002,NaN,NaN,430781.193232,Total das Atividades,São Paulo
58,2003,430781.193232,428783.332662,492825.390858,Total das Atividades,São Paulo
59,2004,492825.390858,522775.071592,539425.320936,Total das Atividades,São Paulo
60,2005,539425.320936,560830.262944,619285.178453,Total das Atividades,São Paulo
61,2006,619285.178453,641078.449954,686836.869877,Total das Atividades,São Paulo
62,2007,686836.869877,736524.645451,782245.71371,Total das Atividades,São Paulo
63,2008,782245.71371,827784.560091,854006.280549,Total das Atividades,São Paulo
64,2009,854006.280549,853137.027259,939371.647046,Total das Atividades,São Paulo
65,2010,939371.647046,1004765.862582,1071840.40168,Total das Atividades,São Paulo
66,2011,1071840.40168,1110457.195701,1184832.820716,Total das Atividades,São Paulo
67,2012,1184832.820716,1198615.054063,1286699.000773,Total das Atividades,São Paulo
68,2013,1286699.000773,1321121.43861,1419426.222284,Total das Atividades,São Paulo
69,2014,1419426.222284,1401665.879407,1552872.896871,Total das Atividades,São Paulo
70,2015,1552872.896871,1496830.569523,1626004.207499,Total das Atividades,São Paulo
71,2016,1626004.207499,1585374.233497,1725307.449732,Total das Atividades,São Paulo
72,2017,1725307.449732,1726927.591578,1786741.788505,Total das Atividades,São Paulo
73,2018,1786741.788505,1812531.622601,1852796.897271,Total das Atividades,São Paulo
74,2019,1852796.897271,1881416.875293,1975310.484229,Total das Atividades,São Paulo
75,2020,1975310.484229,1909228.962617,2014850.308305,Total das Atividades,São Paulo
76,2021,2014850.308305,2101939.442057,2246365.43112,Total das Atividades,São Paulo